artifact/jobs/FSIAJ001-01-ES/src/main/resources/res/DeclaracionInformativa172.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2019 sp1 (x64) (http://www.altova.com) por Puesto de trabajo (Agencia Estatal de Administracion Tributaria ((AEAT))) -->
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by PC Corporativo (AGENCIA TRIBUTARIA) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ddii="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ddii/enol/ws/DeclaracionInformativa.xsd" targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ddii/enol/ws/DeclaracionInformativa.xsd" elementFormDefault="qualified">
	<!-- Suministro genérico
	 -->
	<complexType name="DeclaracionInformativa">
		<annotation>
			<documentation xml:lang="es"> Ddii - Suministro Inmediato de Declaraciones Informativas. </documentation>
		</annotation>
		<sequence>
			<element name="Cabecera" type="ddii:CabeceraDI"/>
			<element name="Declarado" type="ddii:DeclaradoType" maxOccurs="4500"/>
		</sequence>
	</complexType>
	<!-- Cabecera del suministro de información
     -->
	<complexType name="CabeceraDI">
		<annotation>
			<documentation xml:lang="es"> Datos de contexto de un suministro </documentation>
		</annotation>
		<sequence>
			<element name="TipoComunicacion" type="ddii:ClaveTipoComunicacionType"/>
			<element name="Modelo" type="ddii:ModeloType"/>
			<element name="Ejercicio" type="ddii:YearType"/>
			<element name="IDVersionModelo" type="ddii:VersionModeloType"/>
			<element name="IDDeclarante">
				<complexType>
					<sequence>
						<element name="NIF" type="ddii:NIFType"/>
						<element name="NombreRazon" type="ddii:TextMax120Type"/>
						<element name="NIFRepresentante" type="ddii:NIFType" minOccurs="0"/>
						<element name="PersonaContacto" minOccurs="0">
							<complexType>
								<sequence>
									<element name="Telefono" type="ddii:TextMax16Type"/>
									<element name="ApellidosNombre" type="ddii:TextMax120Type"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="DeclaradoType">
		<annotation>
			<documentation xml:lang="es">Datos correspondientes al Declarado </documentation>
		</annotation>
		<sequence>
			<element name="IDRegistroDeclarado" type="ddii:TextMax20Type"/>
			<element name="IDDeclarado" maxOccurs="1000">
				<complexType>
					<annotation>
						<documentation xml:lang="es"> Datos del declarado </documentation>
					</annotation>
					<sequence>
						<element name="Clave" type="ddii:ClaveType"/>
						<element name="NombreRazon" type="ddii:TextMax120Type"/>
						<element name="NIFRepresentante" type="ddii:NIFType" minOccurs="0"/>
						<choice>
							<element name="NIF" type="ddii:NIFType"/>
							<element name="IDOtro" type="ddii:IDOtroType"/>
						</choice>
						<element name="Domicilio">
							<complexType>
								<sequence>
									<element name="CodigoPais" type="ddii:CountryType2"/>
									<element name="NombreMunicipio" type="ddii:TextMax30Type" minOccurs="0"/>
									<element name="NombreVia" type="ddii:TextMax50Type" minOccurs="0"/>
									<element name="Numeracion" type="ddii:Tipo5Type" minOccurs="0"/>
									<element name="CodigoPostal" type="ddii:TextMax12Type" minOccurs="0"/>
									<element name="Complemento" type="ddii:TextMax50Type" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="IDMonedas" maxOccurs="1">
				<complexType>
					<sequence>
						<element name="TipoMoneda" type="ddii:TipoMonedaType"/>
						<element name="MonedaVirtual" minOccurs="0">
							<complexType>
								<sequence>
									<element name="TipoMonedaVirtual">
										<complexType>
											<sequence>
												<element name="DenominacionMonedaVirtual" type="ddii:TextMax50Type"/>
												<element name="SiglasMonedaVirtual" type="ddii:TextMax15Type"/>
											</sequence>
										</complexType>
									</element>
									<element name="NumMonedas" type="ddii:Decimal19.6Type"/>
									<element name="ValorMonedas" type="ddii:Decimal10.8Type"/>
									<element name="OrigenValorMonedas" type="ddii:TextMax50Type"/>
									<element name="FechaFinCustodia" type="ddii:fecha" minOccurs="0"/>
									<element name="SaldoMonedaVirtual" type="ddii:Decimal20.6Type"/>
								</sequence>
							</complexType>
						</element>
						<element name="MonedaFiduciaria" minOccurs="0">
							<complexType>
								<sequence>
									<element name="TipoMonedaFiduciaria" type="ddii:TextMax10Type"/>
									<element name="ValorMonedaFiduciaria" type="ddii:Decimal10.6Type" minOccurs="0"/>
									<element name="FechaFinCustodia" type="ddii:fecha" minOccurs="0"/>
									<element name="SaldoMonedaFiduciaria" type="ddii:Decimal20.6Type"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<!-- Datos de presentacion en las respuestas
-->
	<complexType name="DatosPresentacionType">
		<sequence>
			<element name="NIFPresentador" type="ddii:NIFType"/>
			<element name="TimestampPresentacion" type="ddii:Timestamp"/>
		</sequence>
	</complexType>
	<complexType name="DatosPresentacion2Type">
		<sequence>
			<element name="NIFPresentador" type="ddii:NIFType"/>
			<element name="TimestampPresentacion" type="ddii:Timestamp"/>
			<element name="CSV" type="string" minOccurs="0">
				<annotation>
					<documentation xml:lang="es"> CSV asociado al registro </documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- Datos de persona Física o jurídica : Denominación, representación, identificación (NIF/Otro) -->
	<complexType name="IDOtroType">
		<annotation>
			<documentation xml:lang="es">Identificador de persona Física o jurídica distinto del NIF 
        								 (Código pais, Tipo de Identificador, y hasta 15 caractéres)
        								 No se permite CodigoPais=ES e IDType=01-NIFContraparte
        								 para ese caso, debe utilizarse NIF en lugar de IDOtro.
        	</documentation>
		</annotation>
		<sequence>
			<element name="CodigoPais" type="ddii:CountryType2" minOccurs="0"/>
			<element name="IDType" type="ddii:PersonaFisicaJuridicaIDTypeType"/>
			<element name="ID" type="ddii:TextMax20Type"/>
		</sequence>
	</complexType>
	<simpleType name="VersionModeloType">
		<restriction base="string">
			<enumeration value="1.0"/>
		</restriction>
	</simpleType>
	<!-- Información básica que contienen los registros del suministro de información
     -->
	<complexType name="Cabecera2DI">
		<annotation>
			<documentation xml:lang="es"> Datos de contexto de un suministro </documentation>
		</annotation>
		<sequence>
			<element name="Modelo" type="ddii:ModeloType"/>
			<element name="Ejercicio" type="ddii:YearType"/>
			<element name="IDVersionModelo" type="ddii:VersionModeloType"/>
			<element name="IDDeclarante">
				<complexType>
					<sequence>
						<element name="NIF" type="ddii:NIFType"/>
						<element name="NombreRazon" type="ddii:TextMax120Type"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="DeclaradoType2">
		<annotation>
			<documentation xml:lang="es">Datos correspondientes al Declarado </documentation>
		</annotation>
		<sequence>
			<element name="IDRegistroDeclarado" type="ddii:TextMax20Type"/>
		</sequence>
	</complexType>
	<!-- Baja
     -->
	<complexType name="BajaDI">
		<annotation>
			<documentation xml:lang="es"> Ddii - Baja Suministro Inmediato de Declaraciones Informativas. </documentation>
		</annotation>
		<sequence>
			<element name="Cabecera" type="ddii:Cabecera2DI"/>
			<element name="Declarado" type="ddii:DeclaradoType2" maxOccurs="4500"/>
		</sequence>
	</complexType>
	<!-- ==== Tipos básicos (Listas de claves y patrones) ============================================= -->
	<!-- Año en formato YYYY -->
	<simpleType name="YearType">
		<annotation>
			<documentation xml:lang="es"> Año en formato YYYY </documentation>
		</annotation>
		<restriction base="string">
			<length value="4"/>
			<pattern value="\d{4,4}"/>
		</restriction>
	</simpleType>
	<simpleType name="ModeloType">
		<annotation>
			<documentation xml:lang="es"> Modelo</documentation>
		</annotation>
		<restriction base="string">
			<length value="3"/>
			<pattern value="\d{3,3}"/>
		</restriction>
	</simpleType>
	<simpleType name="ClaveType">
		<restriction base="string">
			<enumeration value="T">
				<annotation>
					<documentation xml:lang="es">Titular </documentation>
				</annotation>
			</enumeration>
			<enumeration value="A">
				<annotation>
					<documentation xml:lang="es">Autorizado </documentation>
				</annotation>
			</enumeration>
			<enumeration value="B">
				<annotation>
					<documentation xml:lang="es">Beneficiario </documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!-- Identificador único de facturas -->
	<simpleType name="TextoIDenvioType">
		<restriction base="string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>
	<!-- Identificador único de facturas -->
	<simpleType name="TextoIDFacturaType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="60"/>
		</restriction>
	</simpleType>
	<!-- Tipo de 5 dígitos -->
	<simpleType name="Tipo5Type">
		<restriction base="string">
			<pattern value="\d{0,5}"/>
		</restriction>
	</simpleType>
	<!-- Tipo de 10 dígitos -->
	<simpleType name="Tipo10Type">
		<restriction base="string">
			<pattern value="\d{0,10}"/>
		</restriction>
	</simpleType>
	<!-- Decimal de 31 dígitos (16+20) "." como separador decimal -->
	<simpleType name="Decimal16.20Type">
		<restriction base="string">
			<pattern value="(\+|-)?\d{1,16}(\.\d{0,20})?"/>
		</restriction>
	</simpleType>
	<!-- Decimal de 37 dígitos (10+20) "." como separador decimal -->
	<simpleType name="Decimal10.20Type">
		<restriction base="string">
			<pattern value="(\+|-)?\d{1,10}(\.\d{0,20})?"/>
		</restriction>
	</simpleType>
	<!-- Decimal de 17 dígitos (10+6) "." como separador decimal -->
	<simpleType name="Decimal10.6Type">
		<restriction base="string">
			<pattern value="(\+|-)?\d{1,10}(\.\d{0,6})?"/>
		</restriction>
	</simpleType>
	<!-- Decimal de 19 dígitos (10+8) "." como separador decimal -->
	<simpleType name="Decimal10.8Type">
		<restriction base="string">
			<pattern value="(\+|-)?\d{1,10}(\.\d{0,8})?"/>
		</restriction>
	</simpleType>
	<!-- Decimal de 27 dígitos (20+6) "." como separador decimal -->
	<simpleType name="Decimal20.6Type">
		<restriction base="string">
			<pattern value="(\+|-)?\d{1,20}(\.\d{0,6})?"/>
		</restriction>
	</simpleType>
	<!-- Decimal de 26 dígitos (19+6) "." como separador decimal -->
	<simpleType name="Decimal19.6Type">
		<restriction base="string">
			<pattern value="(\+|-)?\d{1,19}(\.\d{0,6})?"/>
		</restriction>
	</simpleType>
	<!-- Decimal de 41 dígitos (20+20) "." como separador decimal -->
	<simpleType name="Decimal20.20Type">
		<restriction base="string">
			<pattern value="(\+|-)?\d{1,20}(\.\d{0,20})?"/>
		</restriction>
	</simpleType>
	<!-- Importe de 17 dígitos (14+2) "." como separador decimal -->
	<simpleType name="ImporteSgn14.2Type">
		<restriction base="string">
			<pattern value="(\+|-)?\d{1,14}(\.\d{0,2})?"/>
		</restriction>
	</simpleType>
	<!-- Decimal de 15 dígitos (12+2) "." como separador decimal -->
	<simpleType name="ImporteSgn12.2Type">
		<restriction base="string">
			<pattern value="(\+|-)?\d{1,12}(\.\d{0,2})?"/>
		</restriction>
	</simpleType>
	<!-- Tipo de 6 dígitos (3+2) "." como separador decimal -->
	<simpleType name="Tipo2.2Type">
		<restriction base="string">
			<pattern value="\d{1,3}(\.\d{0,2})?"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 500 caracteres -->
	<simpleType name="TextMax500Type">
		<restriction base="string">
			<maxLength value="500"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 300 caracteres -->
	<simpleType name="TextMax300Type">
		<restriction base="string">
			<maxLength value="300"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 150 caracteres -->
	<simpleType name="TextMax150Type">
		<restriction base="string">
			<maxLength value="150"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 120 caracteres -->
	<simpleType name="TextMax120Type">
		<restriction base="string">
			<maxLength value="120"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 100 caracteres -->
	<simpleType name="TextMax100Type">
		<restriction base="string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 65 caracteres -->
	<simpleType name="TextMax65Type">
		<restriction base="string">
			<maxLength value="65"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 65 caracteres -->
	<simpleType name="TextMax60Type">
		<restriction base="string">
			<maxLength value="60"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 50 caracteres -->
	<simpleType name="TextMax50Type">
		<restriction base="string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 40 caracteres -->
	<simpleType name="TextMax40Type">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 34 caracteres -->
	<simpleType name="TextMax34Type">
		<restriction base="string">
			<maxLength value="34"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 30 caracteres -->
	<simpleType name="TextMax30Type">
		<restriction base="string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 20 caracteres -->
	<simpleType name="TextMax20Type">
		<restriction base="string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 10 caracteres -->
	<simpleType name="TextMax10Type">
		<restriction base="string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 12 caracteres -->
	<simpleType name="TextMax12Type">
		<restriction base="string">
			<maxLength value="12"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 15 caracteres -->
	<simpleType name="TextMax15Type">
		<restriction base="string">
			<maxLength value="15"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 16 caracteres -->
	<simpleType name="TextMax16Type">
		<restriction base="string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 25 caracteres -->
	<simpleType name="TextMax25Type">
		<restriction base="string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 5 caracteres -->
	<simpleType name="TextMax5Type">
		<restriction base="string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 3 caracteres -->
	<simpleType name="TextMax3Type">
		<restriction base="string">
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	<!-- Cadena de 2 caracteres -->
	<simpleType name="TextMax2Type">
		<restriction base="string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>
	<!-- Referencia Catastral -->
	<simpleType name="ReferenciaCatastralType">
		<restriction base="string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>
	<!-- NIF: Secuencia de 9 dígitos o letras mayúsculas -->
	<simpleType name="NIFType">
		<annotation>
			<documentation xml:lang="es">NIF: Secuencia de 9 dígitos o letras mayúsculas</documentation>
		</annotation>
		<restriction base="string">
			<length value="9"/>
			<pattern value="(([a-z|A-Z]{1}\d{7}[a-z|A-Z]{1})|(\d{8}[a-z|A-Z]{1})|([a-z|A-Z]{1}\d{8}))"/>
		</restriction>
		<!--([A-Z]|\d){9}-->
	</simpleType>
	<simpleType name="fecha">
		<restriction base="string">
			<length value="10"/>
			<pattern value="\d{2,2}-\d{2,2}-\d{4,4}"/>
		</restriction>
	</simpleType>
	<simpleType name="Timestamp">
		<restriction base="string">
			<length value="19"/>
			<pattern value="\d{2,2}-\d{2,2}-\d{4,4} \d{2,2}:\d{2,2}:\d{2,2}"/>
		</restriction>
	</simpleType>
	<simpleType name="ClaveTipoComunicacionType">
		<restriction base="string">
			<enumeration value="A0">
				<annotation>
					<documentation xml:lang="es"> A0 Alta (Se añade un nuevo registro)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="A1">
				<annotation>
					<!-- TODO: Determinar los tipos de factura en los que se soporta este valor -->
					<documentation xml:lang="es"> A1 Modificación (La información que se comunica sustituye a la existente relacionada)</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!-- Valores S, N -->
	<simpleType name="ValorSoNType">
		<restriction base="string">
			<enumeration value="S"/>
			<enumeration value="N"/>
		</restriction>
	</simpleType>
	<!-- Tipo de identificador fiscal de persona Física o jurídica -->
	<simpleType name="PersonaFisicaJuridicaIDTypeType">
		<restriction base="string">
			<enumeration value="02">
				<annotation>
					<documentation xml:lang="es">NIF-IVA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="03">
				<annotation>
					<documentation xml:lang="es">Pasaporte</documentation>
				</annotation>
			</enumeration>
			<enumeration value="04">
				<annotation>
					<documentation xml:lang="es">IDEnPaisResidencia</documentation>
				</annotation>
			</enumeration>
			<enumeration value="05">
				<annotation>
					<documentation xml:lang="es">Certificado Residencia</documentation>
				</annotation>
			</enumeration>
			<enumeration value="06">
				<annotation>
					<documentation xml:lang="es">Otro documento Probatorio</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!-- ISO 3166-1 alpha-2 codes -->
	<simpleType name="CountryType2">
		<restriction base="string">
			<enumeration value="AF"/>
			<enumeration value="AL"/>
			<enumeration value="DE"/>
			<enumeration value="AD"/>
			<enumeration value="AO"/>
			<enumeration value="AI"/>
			<enumeration value="AQ"/>
			<enumeration value="AG"/>
			<enumeration value="SA"/>
			<enumeration value="DZ"/>
			<enumeration value="AR"/>
			<enumeration value="AM"/>
			<enumeration value="AW"/>
			<enumeration value="AU"/>
			<enumeration value="AT"/>
			<enumeration value="AZ"/>
			<enumeration value="BS"/>
			<enumeration value="BH"/>
			<enumeration value="BD"/>
			<enumeration value="BB"/>
			<enumeration value="BE"/>
			<enumeration value="BZ"/>
			<enumeration value="BJ"/>
			<enumeration value="BM"/>
			<enumeration value="BY"/>
			<enumeration value="BO"/>
			<enumeration value="BA"/>
			<enumeration value="BW"/>
			<enumeration value="BV"/>
			<enumeration value="BR"/>
			<enumeration value="BN"/>
			<enumeration value="BG"/>
			<enumeration value="BF"/>
			<enumeration value="BI"/>
			<enumeration value="BT"/>
			<enumeration value="CV"/>
			<enumeration value="KY"/>
			<enumeration value="KH"/>
			<enumeration value="CM"/>
			<enumeration value="CA"/>
			<enumeration value="CF"/>
			<enumeration value="CC"/>
			<enumeration value="CO"/>
			<enumeration value="KM"/>
			<enumeration value="CG"/>
			<enumeration value="CD"/>
			<enumeration value="CK"/>
			<enumeration value="KP"/>
			<enumeration value="KR"/>
			<enumeration value="CI"/>
			<enumeration value="CR"/>
			<enumeration value="HR"/>
			<enumeration value="CU"/>
			<enumeration value="TD"/>
			<enumeration value="CZ"/>
			<enumeration value="CL"/>
			<enumeration value="CN"/>
			<enumeration value="CY"/>
			<enumeration value="CW"/>
			<enumeration value="DK"/>
			<enumeration value="DM"/>
			<enumeration value="DO"/>
			<enumeration value="EC"/>
			<enumeration value="EG"/>
			<enumeration value="AE"/>
			<enumeration value="ER"/>
			<enumeration value="SK"/>
			<enumeration value="SI"/>
			<enumeration value="ES"/>
			<enumeration value="US"/>
			<enumeration value="EE"/>
			<enumeration value="ET"/>
			<enumeration value="FO"/>
			<enumeration value="PH"/>
			<enumeration value="FI"/>
			<enumeration value="FJ"/>
			<enumeration value="FR"/>
			<enumeration value="GA"/>
			<enumeration value="GM"/>
			<enumeration value="GE"/>
			<enumeration value="GS"/>
			<enumeration value="GH"/>
			<enumeration value="GI"/>
			<enumeration value="GD"/>
			<enumeration value="GR"/>
			<enumeration value="GL"/>
			<enumeration value="GU"/>
			<enumeration value="GT"/>
			<enumeration value="GG"/>
			<enumeration value="GN"/>
			<enumeration value="GQ"/>
			<enumeration value="GW"/>
			<enumeration value="GY"/>
			<enumeration value="HT"/>
			<enumeration value="HM"/>
			<enumeration value="HN"/>
			<enumeration value="HK"/>
			<enumeration value="HU"/>
			<enumeration value="IN"/>
			<enumeration value="ID"/>
			<enumeration value="IR"/>
			<enumeration value="IQ"/>
			<enumeration value="IE"/>
			<enumeration value="IM"/>
			<enumeration value="IS"/>
			<enumeration value="IL"/>
			<enumeration value="IT"/>
			<enumeration value="JM"/>
			<enumeration value="JP"/>
			<enumeration value="JE"/>
			<enumeration value="JO"/>
			<enumeration value="KZ"/>
			<enumeration value="KE"/>
			<enumeration value="KG"/>
			<enumeration value="KI"/>
			<enumeration value="KW"/>
			<enumeration value="LA"/>
			<enumeration value="LS"/>
			<enumeration value="LV"/>
			<enumeration value="LB"/>
			<enumeration value="LR"/>
			<enumeration value="LY"/>
			<enumeration value="LI"/>
			<enumeration value="LT"/>
			<enumeration value="LU"/>
			<enumeration value="XG"/>
			<enumeration value="MO"/>
			<enumeration value="MK"/>
			<enumeration value="MG"/>
			<enumeration value="MY"/>
			<enumeration value="MW"/>
			<enumeration value="MV"/>
			<enumeration value="ML"/>
			<enumeration value="MT"/>
			<enumeration value="FK"/>
			<enumeration value="MP"/>
			<enumeration value="MA"/>
			<enumeration value="MH"/>
			<enumeration value="MU"/>
			<enumeration value="MR"/>
			<enumeration value="YT"/>
			<enumeration value="UM"/>
			<enumeration value="MX"/>
			<enumeration value="FM"/>
			<enumeration value="MD"/>
			<enumeration value="MC"/>
			<enumeration value="MN"/>
			<enumeration value="ME"/>
			<enumeration value="MS"/>
			<enumeration value="MZ"/>
			<enumeration value="MM"/>
			<enumeration value="NA"/>
			<enumeration value="NR"/>
			<enumeration value="CX"/>
			<enumeration value="NP"/>
			<enumeration value="NI"/>
			<enumeration value="NE"/>
			<enumeration value="NG"/>
			<enumeration value="NU"/>
			<enumeration value="NF"/>
			<enumeration value="NO"/>
			<enumeration value="NC"/>
			<enumeration value="NZ"/>
			<enumeration value="IO"/>
			<enumeration value="OM"/>
			<enumeration value="NL"/>
			<enumeration value="BQ"/>
			<enumeration value="PK"/>
			<enumeration value="PW"/>
			<enumeration value="PA"/>
			<enumeration value="PG"/>
			<enumeration value="PY"/>
			<enumeration value="PE"/>
			<enumeration value="PN"/>
			<enumeration value="PF"/>
			<enumeration value="PL"/>
			<enumeration value="PT"/>
			<enumeration value="PR"/>
			<enumeration value="QA"/>
			<enumeration value="GB"/>
			<enumeration value="RW"/>
			<enumeration value="RO"/>
			<enumeration value="RU"/>
			<enumeration value="SB"/>
			<enumeration value="SV"/>
			<enumeration value="WS"/>
			<enumeration value="AS"/>
			<enumeration value="KN"/>
			<enumeration value="SM"/>
			<enumeration value="SX"/>
			<enumeration value="PM"/>
			<enumeration value="VC"/>
			<enumeration value="SH"/>
			<enumeration value="LC"/>
			<enumeration value="ST"/>
			<enumeration value="SN"/>
			<enumeration value="RS"/>
			<enumeration value="SC"/>
			<enumeration value="SL"/>
			<enumeration value="SG"/>
			<enumeration value="SY"/>
			<enumeration value="SO"/>
			<enumeration value="LK"/>
			<enumeration value="SZ"/>
			<enumeration value="ZA"/>
			<enumeration value="SD"/>
			<enumeration value="SS"/>
			<enumeration value="SE"/>
			<enumeration value="CH"/>
			<enumeration value="SR"/>
			<enumeration value="TH"/>
			<enumeration value="TW"/>
			<enumeration value="TZ"/>
			<enumeration value="TJ"/>
			<enumeration value="PS"/>
			<enumeration value="TF"/>
			<enumeration value="TL"/>
			<enumeration value="TG"/>
			<enumeration value="TK"/>
			<enumeration value="TO"/>
			<enumeration value="TT"/>
			<enumeration value="TN"/>
			<enumeration value="TC"/>
			<enumeration value="TM"/>
			<enumeration value="TR"/>
			<enumeration value="TV"/>
			<enumeration value="UA"/>
			<enumeration value="UG"/>
			<enumeration value="UY"/>
			<enumeration value="UZ"/>
			<enumeration value="VU"/>
			<enumeration value="VA"/>
			<enumeration value="VE"/>
			<enumeration value="VN"/>
			<enumeration value="VG"/>
			<enumeration value="VI"/>
			<enumeration value="WF"/>
			<enumeration value="YE"/>
			<enumeration value="DJ"/>
			<enumeration value="ZM"/>
			<enumeration value="ZW"/>
			<enumeration value="QU"/>
			<enumeration value="XB"/>
			<enumeration value="XU"/>
			<enumeration value="XN"/>
		</restriction>
	</simpleType>
	<simpleType name="ErrorDetalleType">
		<restriction base="integer"/>
	</simpleType>
	<!-- Tipo de moneda -->
	<simpleType name="TipoMonedaType">
		<restriction base="string">
			<enumeration value="V">
				<annotation>
					<documentation xml:lang="es">Moneda Virtual</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation xml:lang="es">Moneda Fiduciaria</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
</schema>
